.grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 16px;
    justify-content: center;
    grid-auto-flow: dense;
}

.grid>* {
    background-color: #ccc;
    padding: 10px;
}

.is-hidden {
    display: none;
}

.fullwidth {
    grid-column: 1/-1;
}

.fullwidth,
.is-selected {
    background-color: cornflowerblue;
}